VITE_SUPABASE_URL=https://mfprdfpkbkonflnnamxp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1mcHJkZnBrYmtvbmZsbm5hbXhwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI5NjI1NDgsImV4cCI6MjA5ODUzODU0OH0.HIEbqRPT62zVHokz69Uf1eDdxGREDo7HL0KruiGLwb8
